body{
    background-color: palegoldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* START HEADER CSS */
.about{
    color: white;
    text-decoration:none;
}

header {
    padding: 15px;
    background-color: #06630f;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 75px;
}

header nav {
    padding-top: 20px;
    font-size: 35px;
    font-weight: bold;
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 35px;
}
/* END HEADER CSS------------------------- */


/* ---------HEADERIMAGE---------- */
img{
    width: 100%;
    background-size: cover;
    background-position: center;
}
/* ---------HEADERIMAGE---------- */


section{
    display:flex;
    flex-direction: row;
    color: #06630f;
}

.verticle-line{
    margin-top: 40px;
    margin-left: 75px;
    padding: 20px;
    border-right: 5px solid #06630f;
    font-size: 75px;
    width: 25%;
    text-align: end;
    color: #06630f;
    position: relative;
}

section p{
    margin: auto;
    padding: 15px;
    line-height: 1.5;
    font-size: 20px;
    color: #06630f;
    width: 60%;
}

.verticle-line-2{
    margin-left: 252px;
    border-right: 5px solid #06630f;
    font-size: 575%;
    width: 25%;
    color: #06630f;
    position: relative;
}

#main-section-image{
    margin: 70px 50px;
    width: 60%;
    border: 7px solid #0a9218
}

.small-section{
    width: 40%;
    margin: 10px;
    justify-items: center;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




/*------------- FOOTER SECTION-------------------*/
footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    display: inline-flex;
    padding: 10px;
    margin: 80px 0;
}


.contact{
    color: #06630f;
    text-decoration:none;
    font-weight: bold;
    font-size: 150%;
    margin: 25px;
}



