:root{
    --dark: #1f3d0c;
    --light: white;
    --borderg: #8a9a5b;
    --light2: #c2b280;
    --linkc: #ffebd7;
}
body{
    background-color: var(--light2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ----------START HEADER CSS --------------*/
.about{
    color: var(--linkc);
    text-decoration:none;
    margin-left: 35px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.about:hover{
    color: var(--light2);
    font-size: 40px;
}

header {
    padding:15px 25px 15px 0px;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 65px;
    background-color: var(--light2);
    color: var(--dark);
    padding:0px 5px 0px 50px;
    display: flex;
    justify-content: center;
}

nav ul{
    padding: 14px 20px;
    display: flex;
    flex-direction: row;
}
/*------------- END HEADER CSS---------------- */


/* ---------HEADERIMAGE---------- */
#header-image{
    width: 100%;
    background-size: cover;
    background-position: center;
}
/* ---------HEADERIMAGE END---------- */


/* main section and 4 other smaller sections underneath */
section{
    display:flex;
    flex-direction: row;
    color: var(--dark);
}

/* Left text and verticle line */
.verticle-line{
    margin-top: 20px;
    margin-left: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 0px 20px 0px 0px;
    border-right: 5px solid var(--dark);
    font-size: 75px;
    width: 25%;
    text-align: end;
    color: var(--dark);
}

#verticle-line-2{
    margin-left: 263px;
    border-right: 5px solid var(--dark);
    width: 25%;
}

/* About me section */
#avatar{
    width: 20%;
    padding: 10px;
    margin-top: 10px;
}

section p{
    margin: auto;
    line-height: 1.5;
    font-size: 20px;
    color: var(--dark);
    width: 45%;
}

/* 1st project section/ bigger image */
#main-section-image{
    width: 80%;
    border: 7px solid var(--borderg);
    opacity: 80%;
}

#project-link{
    display: flex;
    justify-content:center;
    margin: 20px 0;
    width: 68%;
}

/* 4 smaller sections underneath 1st project */
.small-section{
    width: 40%;
    margin: 10px;
    border: 7px solid var(--borderg);   
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    opacity: 60%;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* hover for both sections */
.small-section:hover,
#main-section-image:hover{
    opacity: 100%;
    box-shadow: inset 0px 0px 40px var(--dark), 0 0 15px var(--dark);
}



/*------------- FOOTER SECTION-------------------*/
#footer{
    display: flex;
    text-align: center;
    margin-top: 90px;
    flex-wrap: wrap;
}
footer ul li{
    padding: 15px;
}


.contact{
    color: var(--dark);
    text-decoration:none;
    font-weight: bold;
    font-size: 150%;
    margin: 25px;
}

.contact:hover{
    font-size: 35px;
    color: var(--linkc);
}


/* @ media going on the bottom to change of my css. As the size of my screen decreases on the website changes in the website happen to fit screen */
@media screen and (max-width: 866px) {
    header{
        padding: 0px;
        flex-direction: column;
    }

    section,
    nav ul{
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
    }

    section p{
        width: 90%;
    }

    #verticle-line-2,
    .verticle-line{
        border-bottom: 5px solid var(--dark);
        border-right: none;
        text-align: center;
        margin: auto;
        width: auto;
    }

    #footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        margin: 0%;
    }

    #avatar{
        width: 50%;
        margin: auto;
    }
    #project-link{
        width: 100%;
    }
}

@media screen and (min-width: 867px) and (max-width: 1010px){
    #verticle-line-2{
         margin-left: 240px;
    }
   
}

